body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 130vh;
    width: 100%;
    font-family: 'open sans';

    .body_blank {
        width: 18%;
        background-color: #dff1f8;
    }

    .body_contents {
        width: 64%;

        .contents_header {
            height: 14%;

            .header_top {
                height: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .top_left {
                    font-size: 1.8rem;
                    font-weight: 600;
                    font-style: italic;
                    margin-left: 3%;
                }

                .top_right {
                    display: flex;
                    flex-direction: row;
                    width: 20%;
                    justify-content: space-evenly;

                    .contact, .basket, .login {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: #35a0cf;
                        color: white;
                        font-size: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .contact {
                        transform: rotateZ(90deg);
                        transform-origin: center;
                    }
                }
            }

            .header_bottom {
                height: 50%;
                background-color: #3e8aab;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                .menu {
                    width:24.5%;
                    height: 90%;
                    background-color: #5f93a9;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
        }

        .contents_image {
            height: 37%;
            background: url('slide_1.jpg');
            background-size: 100%;
            animation: 20s animate infinite;

            @keyframes animate {
                0% {
                    background: url('slide_1.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                20% {
                    background: url('slide_2.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                40% {
                    background: url('slide_3.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                60% {
                    background: url('slide_4.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                80% {
                    background: url('slide_5.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                100% {
                    background: url('slide_1.jpg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        .contents_products {
            height: 30%;
            background-color: rgb(130, 179, 134);

            .products_top {
                height: 15%;
                display: flex;
                align-items: center;
                margin-left: 7%;
                margin-bottom: -1%;
                font-size: 1.38rem;
                font-weight: 600;
            }

            .products_bottom {
                height: 85%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .item {
                    height: 80%;
                    width: 20%;
                    background-color: rgb(66, 88, 69);
                }

                .itm_1 {
                    background: url('dettol.jpg');
                    background-size: 100%;
                }

                .itm_2 {
                    background: url('925874454s.jpg');
                    background-size: 100%;
                }

                .itm_3 {
                    background: url('02124-Pears-Pure-Gentle-Soap-100g.jpg');
                    background-size: 100%;
                }

                .itm_4 {
                    background: url('Highlight_3Products copy.jpg');
                    background-size: 100%;
                }
            }
        }

        .contents_footer {
            height: 19%;
            display: flex;
            justify-content: space-evenly;
            text-align: center;

            .footer {
                width: 30%;

                .footer_heading {
                    font-size: 1.2rem;
                    font-weight: 800;
                    margin-top: 10%;
                }
                
                .footer_contents {
                    margin-top: 5%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    .social {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: rgb(44, 108, 168);
                        font-size: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }

                    .instagram {
                        background-image: linear-gradient(-135deg, #7e38aa, #8f48c8, #e90f28, #f77801, #f7cc01);
                    }

                    .twitter {
                        font-size: 30px;
                        background-color: #28aae1;
                    }
                }
            }
        }
    }
}